# please refer to https://xcp-d.readthedocs.io/en/latest/usage.html#command-line-arguments
default:
  params:
    cifti: true
    smoothing: 3
    despike: true
    nuisance-regressors: 36P
    lower-bpf: 0.01
    upper-bpf: 0.1
    motion-filter-type: notch
    band-stop-min: 12
    band-stop-max: 18
    head-radius: 50
    fd-thresh: 0 # censoring could be done afterwards
    min-time: 0
    atlases: [4S156Parcels, 4S256Parcels, 4S356Parcels, 4S456Parcels]

no_gsr:
  params:
    nuisance-regressors: 24P

default_mni:
  params:
    cifti: false

no_gsr_mni:
  params:
    cifti: false
    nuisance-regressors: 24P
