default:
  params: >
    --smoothing 3
    --despike
    --nuisance-regressors 36P
    --lower-bpf 0.01 --upper-bpf 0.1
    --motion-filter-type notch --band-stop-min 12 --band-stop-max 18
    --head-radius 50 --fd-thresh 0.3
